
/*---------------Eric Meyer CSS Reset-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/*----------------------------------------------------*/

/*CSS Markup*/

@media screen and (min-width: 800px) {
  body {
    width: 800px;
    padding:0 calc((100vw - 800px)/2);
  }
}

@media screen and (max-width: 600px){
  body > div#settingsOverlay {
  width: 60vw;
  left: -60vw;
  }
  div > div > h3 {
    font-size: 1.8em;
/*    height: 100%;*/
    width: 24%;
/*    padding-top: 5%;*/
  }
  div > div > .games, div> div> .openGames {
    width: 75%;
  }
  div> .game, div> .openGame {
    min-width: 40%;
  }
  div > #board {
/*    height: 60%;*/
  }
  div > .playerData {
    width: 46%;
    height: 18%;
    margin-top: 0;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
  }
  .player1 {
    margin-left: 1%;
    margin-right: 1%;
    order: -2;
  }
  .player2 {
    margin-left: 1%;
    margin-right: 1%;
    order: -1;
  }
  div > #board {
    height: 80%;
    width: 96%;
    margin: 0 2%;
  }
  div > .playerName {
    width: 100%;
    text-shadow: 2px 2px rgba(0,0,0,.2);
  }
  div > div.openGame > p, div > div.game > p {
    line-height: 20px;
  }
}

* {
  box-sizing: border-box;
}

div > h1 {
  margin: calc(80%/25) auto;
  height: 15%;
  text-align: center;
  color: white;
  text-shadow: 4px 4px rgba(0,0,0,.2);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(105,140,156);
}

div > h3 {
  margin: 0;
  padding-right: 5px;
  color: rgb(255,255,255);
  text-shadow: 2px 2px rgba(0,0,0,.2);
  height: 100%;
  width: 20%;
  display: inline;
}

 .game > .gameTitle, .openGame > .gameTitle {
  height: 40%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  margin: 0 auto;
  text-align: center;
  color: rgb(255,255,255);
  width: 100%;
  text-shadow: 2px 2px rgba(0,0,0,.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div > h4 {
  padding: 2% 2%;
  color: white;
  margin: 0;
  text-align: center;
}

div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  color: white;
  width: 100%;
  height: 60%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.player1 {
    border: 4px solid rgb(153,50,204);
}

.player2 {
    border: 4px solid #0FDDAF;
}

.game > .hidden, .openGame > .hidden {
  width: 0;
  height: 0;
  display: hidden;
}

header {
  height: 7.5%;
  width: 100%;
}

footer {
  height: 7.5%;
  width: 100%;
}

#container {
  height: 85%;
  width: 100%;
}

#gameData>h2 {
/*  display: inline-block;*/
  margin: auto;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 4px 4px rgba(0,0,0,.2);
}

.inGame > #gameData {
  height: 20%;
}

.inGame > #gameContainer {
  height: 80%;
}

#gameData {
  display: inline-block;
/*  height: 20%;*/
  height: 33%;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;
/*  background-color: rgb(96,125,139);*/
/*  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 4px 4px 5px 0 rgba(0,0,0,.12);*/
}

#gameContainer {
  width: 100%;
  min-height: 44%;
  height: 44%;
  display: flex;
  flex-wrap: wrap;
}

.playerData {
  width: 16%;
  height: 100%;
  border-radius: 20px;
  margin: 0 2%;
  background-color: rgb(96,125,139);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 4px 4px 5px 0 rgba(0,0,0,.12);
}

#board {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
/*  border: 1px solid white;*/
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 4px 4px 5px 0 rgba(0,0,0,.12);
}

#gamesContainer, #openGamesContainer {
  padding: 5px 5px;
  height: 48%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: rgb(96,125,139);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 4px 4px 5px 0 rgba(0,0,0,.12);
  margin-bottom: calc(33%/25);
}

.games, .openGames {
  min-height: 100%;
  max-height: 100%;
  overflow: scroll;
  display: inline-flex;
  border-radius: 10px;
  width: 80%;
}

#gamesContainer {
  border-bottom: 0px;
}

.square {
  height: 33.33%;
  width: 33.33%;
  background-color: #ff4081;
}

.s0, .s1, .s2 {
  border-bottom: 1px solid white;
}

.s6, .s7, .s8 {
  border-top: 1px solid white;
}

.s0, .s3, .s6 {
  border-right: 1px solid white;
}

.s2, .s5, .s8 {
  border-left: 1px solid white;
}

.s0 {
  border-top-left-radius: 10px;
}

.s2 {
  border-top-right-radius: 10px;
}

.s6 {
  border-bottom-left-radius: 10px;
}

.s8 {
  border-bottom-right-radius: 10px;
}

div.p1 {
  background-color: rgb(153,50,204) !important;
  cursor: default !important;
}

div.p2 {
  background-color: #0FDDAF !important;
  cursor: default !important;
}


div#settingsOverlay {
  height: 100vh;
  width: 33vh;
  position: absolute;
  -webkit-transition: left 2s;
  transition: left 2s;
  left: -33%;
  background-color: #555;
  z-index: 5;
}

button#startGameButton {
  height: 50px;
  margin: auto auto;
}

body.settingsOverlay>div#settingsOverlay {
  left: 0;
  -webkit-transition: left 2s;
  transition: left 2s;
}

button.settings {
  float: right;
}
button#quitButton {
  float: left;
}

div#authOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: white;
}

#authForm {
  position: relative;
  top: 50%;
  left: 33%;
  margin: auto auto;
}

.game, .openGame {
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  padding: 2px;
  margin: 0px 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  min-width: 25%;
  max-width: 25%;
  border: white solid 1px;
  background-color: #ff4081;
  border-radius: 10%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.12);
}

#openGamesContainer .openGame {
  background-color: rgb(153,50,204);
}

#openGamesContainer .openGame:hover {
  cursor: pointer;
  background-color: rgb(138,45,184);
}

#gamesContainer .game:hover {
  cursor: pointer;
  background-color: rgb(229,58,116);
}

.square:hover {
  background-color: rgb(229,58,116);
  cursor: pointer;
}


#logout {
  margin: 2% 2%;
}