
/*---------------Eric Meyer CSS Reset-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/*----------------------------------------------------*/

/*CSS Markup*/

@media screen and (max-width: 600px){
  body > div#settingsOverlay {
  width: 60vw;
  left: -60vw;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(105,140,156);
}

div > h3 {
  margin-top: auto;
  margin-right: 5px;
}

.game >h4 {
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  height: 5%;
  width: 100%;
  background-color: rgb(96,125,139);
}

footer {
  height: 10%;
  width: 100%;
}

#container {
  height: 85%;
  width: 100%;
}

#gameData>h2 {
  margin: auto;
  text-align: center;
  width: 30%;
}

#gameData {
  height: 20%;
  width: 100%;
}

#gameContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.playerData {
  width: 20%;
  height: 100%;
}

#board {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#gamesContainer, #openGamesContainer {
  padding: 5px 5px;
  height: 100%;
  display: flex;
  overflow: scroll;
  border: 3px solid black;
  border-radius: 20px;
}
#gamesContainer {
  border-bottom: 0px;
}

.square {
  height: 33.33%;
  width: 33.33%;
  background-color: #ff4081;
  border: 2px solid black;
}

div.p1 {
  background-color:blue;
}

div.p2 {
  background-color: darkblue;
}

div#settingsOverlay {
  height: 100vh;
  width: 33vh;
  position: absolute;
  -webkit-transition: left 2s;
  transition: left 2s;
  left: -33%;
  background-color: #555;
  z-index: 5;
}

button#startGameButton {
  height: 50px;
  margin: auto auto;
}

body.settingsOverlay>div#settingsOverlay {
  left: 0;
  -webkit-transition: left 2s;
  transition: left 2s;
}

button.settings {
  float: right;
}
button#quitButton {
  float: left;
}

div#authOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: white;
}

#authForm {
  position: relative;
  top: 50%;
  left: 33%;
  margin: auto auto;
}

.game, .openGame {
  padding: 2px;
  margin: 0px 2px;
  display: inline-block;
  height: 100%;
  width: 25%;
  background-color: #ff4081;
  border: 2px solid black;
  border-radius: 10%;
  box-shadow: 0 0 3px 3px #000;
}

#openGamesContainer .openGame {
  background-color: purple;
}

#logout {
  height: 90%;
  margin: auto 5px;
}